<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!-- global go back button -->
    
      <ion-buttons slot="start" *ngIf="canGoBack">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back" slot="start"></ion-icon>
          Back
        </ion-button>
      </ion-buttons>
    
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar color="success" scrollable=true>

      <super-tab-button>
        <ion-icon name="copy-outline" color="light"></ion-icon>
        <ion-label>News</ion-label>
      </super-tab-button>
    
      <super-tab-button>
        <ion-icon name="people-outline" color="light"></ion-icon>
        <ion-label>Account</ion-label>
      </super-tab-button>

      <super-tab-button>
        <ion-icon name="information-circle-outline" color="light"></ion-icon>
        <ion-label>About</ion-label>
      </super-tab-button>

  </super-tabs-toolbar>


  <super-tabs-container>
    <super-tab>
      <ion-content>
        <ion-nav [root]="newsPage" #newsNav></ion-nav>
      </ion-content>
    </super-tab>

    <super-tab>
      <ion-content>
        <ion-nav [root]="accountPage"></ion-nav>
      </ion-content>
    </super-tab>

    <super-tab>
      <ion-content>
        <ion-nav [root]="aboutPage"></ion-nav>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
<!-- </ion-content> -->
